* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles*/
    color: #a3a3a3;
}

h1 {
    color: aqua;
}

nav {
    color: rgb(0, 255, 115);

}

header {
    background-color: orange;
    
}

main {
    background-color: greenyellow;
    flex: 1 0 auto;
    /*make main place take up any surplus space*/

}

footer {
    background-color: darkred;
    
}

